<div class="col-10 offset-1 about">
  <h1>About Squirty</h1>

  <p>
    Squirty was built by <a target="_blank" href="https://github.com/LampshadeWarrior">Iann.</a> He's a young, upstart web developer ready to change the world with his newfound skills.
  </p>
  <br />
  <p>
    He started his coding journey with<a target="_blank" href="http://www.thefirehoseproject.com/"> The Firehose Project</a>, a software engineering bootcamp that has endowed hundreds of students with the skills necessary to turn their ideas into reality.
  </p>
  <p>
    If you would like to contact Iann, please feel free to send him an email at <a href ="mailto:itpsinger@gmail.com">itpsinger@gmail.com</a>
  </p>
</div>


<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'iann.jpg', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Iann Singer</h2>
    <br />
    <p>
      Iann Singer is a web developer and student of the Firehose Project.
    </p>
  </div>
</div>
<br class="clear" />

<br />
<br />
<br />
<br />
